DOMAIN=https://meedium.onrender.com
EXPRESS_LIMIT=50mb
JWT_EXPIRATION=1d
JWT_SECRET=123456789
MONGO_URI=
NODE_ENV=prod
PORT=3000
apiKey=
appId=
authDomain=
messagingSenderId=
projectId=
storageBucket=

