@tailwind base;
@tailwind components;
@tailwind utilities;

/* sohne */
@font-face {
	font-family: "sohne";
	src: url(./assets/fonts/sohne-400-normal.woff) format("woff");
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: "sohne";
	src: url(./assets/fonts/sohne-500-normal.woff) format("woff");
	font-weight: 500;
	font-style: normal;
}
@font-face {
	font-family: "sohne";
	src: url(./assets/fonts/sohne-700-normal.woff) format("woff");
	font-weight: 700;
	font-style: normal;
}
/* gt-super */
@font-face {
	font-family: "gt-super";
	src: url(./assets/fonts/gt-super-400-normal.woff) format("woff");
	font-weight: 400;
	font-style: normal;
}
/* source-code-pro */
@font-face {
	font-family: "source-code-pro";
	src: url(./assets/fonts/source-code-pro-400-normal.woff) format("woff");
	font-weight: 400;
	font-style: normal;
}
/* source-serif-pro */
@font-face {
	font-family: "source-code-pro";
	src: url(./assets/fonts/source-serif-pro-400-normal.woff) format("woff");
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: "source-code-pro";
	src: url(./assets/fonts/source-serif-pro-700-normal.woff) format("woff");
	font-weight: 700;
	font-style: normal;
}

:root {
}

#root,
body {
	@apply bg-white font-main text-main min-h-[100vh];
}

.homeAnimation g[delay] {
	animation-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
	animation-name: fade-in;
	animation-duration: 1s;
	animation-fill-mode: backwards;
	/* animation-direction: alternate; */
	animation-iteration-count: infinite;
	animation-delay: calc(var(--order) * 200ms);
}

@keyframes fade-in {
	0% {
		/* outline: 0; */
		visibility: hidden;
	}
	100% {
		/* outline: 1px solid red; */
		visibility: visible;
	}
}
